include includes/mixins.pug

- 
    const mainPage = true;
    const latestNews = [
        {
            image: 'images/news-1.jpg', 
            category: 'Коммуналка',
            date: '02/01/2021',
            name: 'Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения',
        },
        {
            image: 'images/news-2.jpg', 
            category: 'Медицина',
            date: '02/01/2021',
            name: 'Ключи от медицинской помощи. «Городская больница» Златоуста получила новые спецавтомобили',
        },
        {
            image: 'images/news-3.jpg', 
            category: 'Коммуналка',
            date: '02/01/2021',
            name: 'Домой по светлой улице. В Златоусте завершили монтаж сразу двух новых линий наружного освещения',
        },
        {
            image: 'images/news-4.jpg', 
            category: 'Коммуналка',
            date: '02/01/2021',
            name: 'На перегоне между районом машзавода и проспект Гагарина ограничили максимальную скорость до 40 километров в час',
        },
        {
            image: 'images/news-5.jpg', 
            category: 'Медицина',
            date: '02/01/2021',
            name: 'Теплоснабжение без перебоев. Такую задачу перед всеми ответственными службами  поставил глава округа Максим Пекарский',
        },
        {
            image: 'images/news-6.jpg', 
            category: 'Коммуналка',
            date: '02/01/2021',
            name: 'На перегоне между районом машзавода и проспект Гагарина ограничили максимальную скорость до 40 километров в час',
        },
    ];
    const news = [
        {
            image: 'images/news-7.jpg', 
            date: '19/01/2021',
            name: 'Спортивный центр, доступный для всех жителей города и района метзавода. Бассейн «Сталь» теперь стал муниципальным',
        },
        {
            image: 'images/news-8.jpg', 
            date: '15/01/2021',
            name: 'Условия для воспитания и образования в Златоусте – одно из приоритетных направлений',
        },
        {
            image: 'images/news-9.jpg', 
            date: '24/12/2020',
            name: 'Реализовали давно задуманные планы. На златоустовском «Заводе «Стройтехника» открылся ещё один производственный корпус',
        },
        {
            image: 'images/news-7.jpg', 
            date: '19/01/2021',
            name: 'Спортивный центр, доступный для всех жителей города и района метзавода. Бассейн «Сталь» теперь стал муниципальным',
        },
    ]

doctype html
html(lang="ru-RU")
    +head()
    body 
        include includes/header.pug
        main.main 
            section.section.article 
                div.article__wrapper 
                    button.article__button_mobile="Читать" 
                    img.article__image(src="images/news-photo.png", alt="Фото")
                    div.article__content 
                        span.article__category="Общество"
                        p.article__title="Гонка сильнейших. На стадионе имени Светланы Ишмуратовой стартовал Чемпионат по биатлону"
                        button.article__button="Читать"
                    div.swiper.article__slider 
                        div.swiper__wrapper 
                            div.swiper__slide
                                img.slide__img(src="images/slide-1.jpg", alt="Фото слайда")
                                div.slide__info 
                                    span.slide__category="Нацпроект" 
                                    p.slide__title="Безопасные и качественные автомобильные дороги" 
                        div.slider__pagination 
                            span.active-page 
                                span
                            span 
                            span 
                            span 
                            span 
                        div.slider__navigation 
                            button 
                                img(src="images/prev-page-arrow.svg", alt="")
                            button 
                                img(src="images/next-page-arrow.svg", alt="")
            section.section.hot_news 
                div.hot_news__wrapper 
                    div.hot_news__head 
                        h2.section__title="Свежие новости"
                        a.section__link(href="./news.html")="Все новости" 
                    +createHotNews(latestNews)
                    div.hot_news__banner 
                        img(src="images/banner.svg", alt="ЗТВ - Златоустовское телевидение")
            section.section.news 
                div.news__wrapper 
                    div.news__head 
                        h2.section__title="Вектор развития"
                        div.news__navigation 
                            button.news__prev 
                                img(src="images/prev-arrow.svg", alt="Предыдущая новость")
                            button.news__next 
                                img(src="images/next-arrow.svg", alt="Следующая новость")
                    +createNews(news)
                    button.section__link="Больше новостей"
            section.section.releases
                div.releases__wrapper 
                    h2.releases__title="Премьерные выпуски"
                    div.releases__content 
                        img.releases__img(src="images/release.jpg", alt="Премьерный выпуск")
                        div.releases__items 
                            div.releases__item.releases__item-active 
                                span.releases__date="02/01/2021"
                                h3.releases__name="«Территория закона» 26.01.2021"
                                a.releases__link 
                            div.releases__item 
                                span.releases__date="02/01/2021"
                                h3.releases__name="«Сделано в Златоусте» №1 (Никон)"
                            div.releases__item 
                                span.releases__date="02/01/2021"
                                h3.releases__name="«Депутатский час» 22.01.2021"
                    a.releases__button="Все выпуски"
        include includes/footer.pug