-
    const whiteFooter = true;
    const news = [
        {
            image: 'images/all-news-1.jpg', 
            category: 'Медицина Общество',
            date: '02/01/2021',
            name: 'Благодаря поддержке предпринимателей. Златоустовские поликлиники оснастили холодильными установками для хранения вакцины',
        },
        {
            image: 'images/all-news-2.jpg', 
            category: 'Медицина',
            date: '29/01/2021',
            name: 'Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции.  Роддом Златоуста вновь откроет свои двери 8 февраля',
        },
        {
            image: 'images/all-news-3.jpg', 
            category: 'Коммуналка',
            date: '29/01/2021',
            name: 'Осторожно, сосульки! Оттепель на этой неделе привела к тому, что на крышах многих домов образовались опасные ледяные наросты',
        },
        {
            image: 'images/all-news-4.jpg', 
            category: 'Политика',
            date: '29/01/2021',
            name: 'В четыре раза меньше вопросов, чем обычно. В Златоусте прошло первое в 2021-м году Собрание депутатов',
        },
        {
            image: 'images/all-news-5.jpg', 
            category: 'Коммуналка',
            date: '29/01/2021',
            name: 'В Златоусте сотрудники теротдела проверят магазин, из которого выбрасывали строительный мусор на контейнерную площадку',
        },
        {
            image: 'images/all-news-6.jpg', 
            category: 'Общество',
            date: '29/01/2021',
            name: 'ДЧ: Первое Собрание депутатов 2021 года: планируется работа на весь год',
        },
    ];

html(lang='ru-RU')
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.min.css")
        title="Все новости - ЗТВ"
    body
        include includes/header.pug
        main 
            section.all-news 
                div.all-news__head 
                    h1="Все новости"
                    ul 
                        li="Главная"
                        li="Новости"
                div.all-news__settings 
                    input.all-news-category(type="text", name="date-picker" readonly placeholder="Выберите дату")
                    select.all-news-category#news-category(name="news-category" aria-placeholder="Выбрать рубрику") 
                        option(selected hidden value="Выберите рубрику")="Выберите рубрику"
                        option(value="Медицины")="Медицины"
                        option(value="Общество")="Общество" 
                        option(value="Коммуналка")="Коммуналка" 
                        option(value="Политика")="Политика" 
                        option(value="Спорт")="Спорт" 
                        option(value="Вектор развития")="Вектор развития" 
                div.all-news__wrapper 
                    each item in news
                        div.latest-news__content-item 
                            img(src=`${item.image}`, alt="Фото новости")
                            div
                                span.content-item-category #{item.category}
                                span.content-item-date #{item.date}
                            p #{item.name}
                            a 
                                img(src="images/top-right-arrow.svg", alt="Подробнее")
                div.all-news__detailed 
                    div.detailed__wrapper 
                        img.detailed__image(src="images/all-news-2.jpg", alt="Фото новости")
                        div.detailed__content 
                            div.detailed__content-head 
                                div 
                                    span.detailed__content-category="Медицина" 
                                    span.detailed__content-date="29/01/2021" 
                                p="Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции.  Роддом Златоуста вновь откроет свои двери 8 февраля"
                            p="Ещё одна главная новость дня — с 8 февраля златоустовский роддом возвращается к привычному формату работы. Госпитальную базу для лечения больных коронавирусной инфекцией переводят..."
                        a.detailed__more(href="news_one.html") 
                            img(src="images/top-right-arrow.svg", alt="Подробнее")
                div.all-news__pagination 
                    img.pagination__prev(src="images/prev-page-arrow.svg", alt="Предудыщая страница")
                    div.pagination__items 
                        span.pagination__item-active="1"
                        span="2"
                        span="3"
                        span="4"
                        span="..."
                        span="123"
                    img.pagination__next(src="images/next-page-arrow.svg", alt="Следующая страница")
        include includes/footer.pug