include includes/mixins.pug

-
    const whiteFooter = true;
    const news = [
        {
            image: 'images/all-news-1.jpg', 
            category: 'Медицина Общество',
            date: '02/01/2021',
            name: 'Благодаря поддержке предпринимателей. Златоустовские поликлиники оснастили холодильными установками для хранения вакцины',
        },
        {
            image: 'images/all-news-2.jpg', 
            category: 'Медицина',
            date: '29/01/2021',
            name: 'Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции.  Роддом Златоуста вновь откроет свои двери 8 февраля',
        },
        {
            image: 'images/all-news-3.jpg', 
            category: 'Коммуналка',
            date: '29/01/2021',
            name: 'Осторожно, сосульки! Оттепель на этой неделе привела к тому, что на крышах многих домов образовались опасные ледяные наросты',
        },
        {
            image: 'images/all-news-4.jpg', 
            category: 'Политика',
            date: '29/01/2021',
            name: 'В четыре раза меньше вопросов, чем обычно. В Златоусте прошло первое в 2021-м году Собрание депутатов',
        },
        {
            image: 'images/all-news-5.jpg', 
            category: 'Коммуналка',
            date: '29/01/2021',
            name: 'В Златоусте сотрудники теротдела проверят магазин, из которого выбрасывали строительный мусор на контейнерную площадку',
        },
        {
            image: 'images/all-news-6.jpg', 
            category: 'Общество',
            date: '29/01/2021',
            name: 'ДЧ: Первое Собрание депутатов 2021 года: планируется работа на весь год',
        },
    ];

doctype html
html(lang='ru-RU')
    +head("Все новости - ЗТВ")
    body
        include includes/header.pug
        main.main 
            section.section.all_news 
                div.all_news__head 
                    h1.all_news__title="Все новости"
                    ul.breadcrumbs 
                        li="Главная"
                        li="Новости"
                div.all_news__settings 
                    div.all_news__date 
                        input.date__pick(type="text", name="date-picker" readonly placeholder="Выберите дату")
                    div.all_news__category
                        select.news-category(name="news-category" aria-placeholder="Выбрать рубрику") 
                            option(selected hidden value="Выберите рубрику")="Выберите рубрику"
                            option(value="Медицины")="Медицины"
                            option(value="Общество")="Общество" 
                            option(value="Коммуналка")="Коммуналка" 
                            option(value="Политика")="Политика" 
                            option(value="Спорт")="Спорт" 
                            option(value="Вектор развития")="Вектор развития" 
                +createHotNews(news)
                div.detailed 
                    div.detailed__wrapper 
                        img.detailed__image(src="images/all-news-2.jpg", alt="Фото новости")
                        div.detailed__content 
                            div.detailed__head 
                                div.detailed__meta 
                                    span.detailed__category="Медицина" 
                                    span.detailed__date="29/01/2021" 
                                a.detailed__title(href="./news_one.html")="Госпитальная база закрыта, учреждение вернётся в «доковидный» режим после дезинфекции.  Роддом Златоуста вновь откроет свои двери 8 февраля"
                            p.detailed__text="Ещё одна главная новость дня — с 8 февраля златоустовский роддом возвращается к привычному формату работы. Госпитальную базу для лечения больных коронавирусной инфекцией переводят..."
                        a.detailed__more(href="news_one.html") 
                div.all_news__pagination 
                    img.pagination__prev(src="images/prev-page-arrow.svg", alt="Предудыщая страница")
                    div.pagination__items 
                        a.pagination__item.pagination__item-active(href="?page=1")="1"
                        a.pagination__item(href="?page=2")="2"
                        a.pagination__item(href="?page=3")="3"
                        a.pagination__item(href="?page=4")="4"
                        a.pagination__item(href="")="..."
                        a.pagination__item(href="?page=123")="123"
                    img.pagination__next(src="images/next-page-arrow.svg", alt="Следующая страница")
        include includes/footer.pug