if whiteFooter == true
    footer.footer.footer-white 
        div.footer__wrapper
            div.footer__top 
                span.footer__subscribe="Подписывайтесь на нас:"
                div.footer__icons 
                    a.footer__icon(href="#")
                        img(src="images/youtube.svg", alt="YouTube") 
                    a.footer__icon(href="#")
                        img(src="images/facebook.svg", alt="Facebook") 
                    a.footer__icon(href="#")
                        img(src="images/vk.svg", alt="Вконтакте") 
                    a.footer__icon(href="#")
                        img(src="images/однокласники.svg", alt="Одноклассники")
                    a.footer__icon(href="#")
                        img(src="images/instagram.svg", alt="Instagram")
            div.footer__bottom 
                div.footer__left
                    span.footer__copyright="© 2021 «Златоустовское телевидение»"
                    a.footer__policy(href="")="Политика конфиденциальности" 
                img.footer__developers(src="images/xpage-logo.svg", alt="Логотип xpage")
else 
    footer.footer 
        div.footer__wrapper
            div.footer__top 
                span.footer__subscribe="Подписывайтесь на нас:"
                div.footer__icons 
                    a.footer__icon(href="#")
                        img(src="images/youtube.svg", alt="YouTube") 
                    a.footer__icon(href="#")
                        img(src="images/facebook.svg", alt="Facebook") 
                    a.footer__icon(href="#")
                        img(src="images/vk.svg", alt="Вконтакте") 
                    a.footer__icon(href="#")
                        img(src="images/однокласники.svg", alt="Одноклассники")
                    a.footer__icon(href="#")
                        img(src="images/instagram.svg", alt="Instagram")
            div.footer__bottom 
                div.footer__left
                    span.footer__copyright="© 2021 «Златоустовское телевидение»"
                    a.footer__policy(href="")="Политика конфиденциальности" 
                img.footer__developers(src="images/xpage-logo.svg", alt="Логотип xpage")
script(src="./js/main.min.js") 