header 
    div.header__wrapper
        div.header__top 
            img.burger-menu(src="images/burger-menu.svg" alt="Меню")
            button="Предложить новость"
            a(href="./")
                img(src="images/Logo.svg", alt="Логотип") 
            div 
                a(href="tel:83513651711")="8 (3513) 65-17-11 "
                img(src="images/search.svg", alt="Поиск") 
            img.megaphone(src="images/megaphone.svg" alt="Поделиться")
        div.header__bottom 
            div.header__navigation 
                nav 
                    a(href="")="Новости"
                    a(href="")="Телепроекты"
                    a(href="")="Реклама"
                    a(href="")="Онлайн"
                    a(href="")="Программа передач"
                    a(href="")="Еще"
            div.header__socials 
                span="Подписывайтесь на нас: "
                div.header__socials-icons 
                    img(src="images/youtube.svg", alt="YouTube") 
                    img(src="images/facebook.svg", alt="Facebook") 
                    img(src="images/vk.svg", alt="Вконтакте") 
                    img(src="images/однокласники.svg", alt="Одноклассники") 
                    img(src="images/instagram.svg", alt="Instagram")